<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="username">Username</label>
                    <input 
                        type="text"
                        id="username"
                        class="form-control"
                        name="username"
                        ngModel>
                </div>
                
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input 
                        type="text"
                        id="name"
                        class="form-control"
                        name="name"
                        ngModel>
                </div>
                
                <div class="col-sm-5 form-group">
                    <label for="email">Email</label>
                    <input 
                        type="text"
                        id="email"
                        class="form-control"
                        name="email"
                        ngModel>
                </div>
                
                <div class="col-sm-5 form-group">
                    <label for="gender">Gender</label>
                    <select class="form-control" id="gender" name="gender" ngModel>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                      </select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit">Submit</button>
                    <button class="btn btn-danger" type="button" (click)="onCancel()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
